<footer class="footer">
<div class="logo-footer">
  <div class="vector">
    <img src="">
    <h2 class="greenharvest">GREEN.HARVEST</h2>
    <p class="logo-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
  </div>
</div>
<div class="menu-contacts-footer">
  <div class="menu">
    <p>how it works</p>
    <p>vegetables</p>
    <p>reviews</p>
  </div>
  <div class="contacts">
    <div class="tel">
    <a href="tel:+380684439426">+380(68)443-94-26</a>
    </div>
    <div class="adress">
    <adress>
      1678 S. Pioneer Road Salt<br>
       Lake City UT 84104<br>
      </adress>
      </div>
  </div>
</div>
<div class="policy-copy-footer">
<div class="policy">
<p>Privacy Policy/Cookie settings</p>
</div>
<div class="copy">
<p>©Green Harvest 2023</p>
</div>
</div>
</footer>
