<section class="howitworks-section">

    <div class="howitworks-left-blocks">
        <img class="howitworks-img" src="../img/Rectangle 42473.jpgpu" alt="smily-woman">
    </div>
    <div class="howitworks-right-blocks">
        <p class="howitworks-up-text">To order your
            <span class="howitworks-text-span">vegetable </span>basket, simply follow these <span
                class="howitworks-text-span">easy steps</span>
        </p>
        <p class="howitworks-down-text">Our baskets are assembled with care and delivered straight to your doorstep, so
            you can enjoy the taste of fresh fruit without ever leaving your home.</p>
        <form class="form">

            <div class="block">
                <label class="label" for="block-for">

                </label>
                <textarea class="textarea" name="textarea">
                    <svg class="icon">
                        <use href="../symbol-defs.svg#icon-1"></use>
                    </svg>
                   Just choose <span class="textarea-span">the vegetable</span>  you want to order by clicking on the checkboxes <span class="textarea-span">next to it</span> .
                    
                   </textarea>
            </div>
            <div class="block">
                <label class="label" for="block-for">

                </label>
                <textarea class="textarea" name="textarea">
                    <svg class="icon">
                        <use href="../symbol-defs.svg#icon-2"></use>
                    </svg>
                    Click on <span class="textarea-span">the basket</span> and fill out the form.
                     
                    </textarea>
            </div>
            <div class="block">
                <label class="label" for="block-for">

                </label>
                <textarea class="textarea" name="textarea">
                    <svg class="icon">
                        <use href="../symbol-defs.svg#icon-3"></use>
                    </svg>
                    Sit back and relax! Your <span class="textarea-span">fresh vegetables</span>  basket will be delivered.
                     
                    </textarea>
            </div>
        </form>
    </div>
</section>