<section class="howitworks-section">

    <div class="howitworks-img">

        <img src="../img/Rectangle 42473.jpgpu" alt="smily-woman">

        <img src="" alt="smily-woman">

    </div>
    <div class="howitworks-blocks">
        <p class="howitworks-up-text">To order your vegetable basket, simply follow these easy steps</p>
        <p class="howitworks-down-text">Our baskets are assembled with care and delivered straight to your doorstep, so
            you can enjoy the taste of fresh fruit without ever leaving your home.</p>
            <form>
				<div class="blocks-content">
					<label
					for="user-name" 

					class="blocks-input">

					class="blocks-input">Name

				    </label>
					<div class="close-input">
						<input 
						type="text"
						name="user-name"
						class="class-person-name"
						id="user-name" 

					/>
					<svg width="18" height="24" class="icon-one">
						<use href="./images/icons.svg#icon"></use>
					</svg>
					</div>
				
					
				</div>
				<div class="modal-content">
					<label
					for="user-name" 
					class="modal-input">Phone
				   </label>
					<div class="close-input">
						<input 
						type="text"
						name="user-number"
						class="class-person-name"
						id="user-number" 
					/>
					<svg width="18" height="24" class="icon-call">
						<use href="./images/icons.svg#icon-call"></use>
					</svg>
					</div>
				
					
				</div>
				<div class="modal-content">
					<label
					for="user-name" 
					class="modal-input"> Email
				   </label>
					<div class="close-input">
						<input 
						type="text"
						name="user-email"
						class="class-person-name"
						id="user-email" 
					/>
					<svg width="18" height="24" class="icon-call">
						<use href="./images/icons.svg#icon-email"></use>
					</svg>
					</div>
				
					
				</div>
        </form>
    </div>
</section>