<section class="vegetables-section"></section>
    <div class="vegatables-header">
      <h2 class="vegetables-block">ORGANIC VEGATABLES</h2>
      <p class="vegetables-paragraph">
        Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.
      </p>
    </div>
    <div class="vegetables-container">
        <ul class="vegetables-card-list">
         <li class="vegetables-card-li">
          <div class="li-container" >
            <h3 class="vegetables-name">eggplant</h3>
            <p class="vegetables-amount">60 USD / kg</p>
          </div>
         <img class="vegetables-card-image" src="../img/eggplant.jpg" alt="eggplant" width="282" height="243"/>
        </li>

         <li class="vegetables-card-li">
            <div class="li-container" >
                <h3 class="vegetables-name">leek</h3>
                <p class="vegetables-amount">50 USD / kg</p>
              </div>
            <img class="vegetables-card-image" src="../img/leek.jpg" alt="leek" width="282" height="243"/>              
         </li>

         <li class="vegetables-card-li">
            <div class="li-container" >
                <h3 class="vegetables-name">mushrooms</h3>
                <p class="vegetables-amount">40 USD / kg</p>
              </div>
            <img class="vegetables-card-image" src="../img/mushrooms.jpg" alt="mushrooms" width="282" height="243"/>
               
         </li>

         <li class="vegetables-card-li">
            <div class="li-container" >
                <h3 class="vegetables-name">corn</h3>
                <p class="vegetables-amount">60 USD / kg</p>
              </div>
            <img class="vegetables-card-image" src="../img/corn.jpg" alt="corn" width="282" height="243"/>               
         </li>

         <li class="vegetables-card-li">
            <div class="li-container" >
                <h3 class="vegetables-name">sweet potatoes</h3>
                <p class="vegetables-amount">50 USD / kg</p>
              </div>
            <img class="vegetables-card-image" src="../img/sweetpotatoes.jpg" alt="sweetpotatoes" width="282" height="243"/>              
         </li>

         <li class="vegetables-card-li">
            <div class="li-container" >
                <h3 class="vegetables-name">carrot</h3>
                <p class="vegetables-amount">40 USD / kg</p>
              </div>
            <img class="vegetables-card-image" src="../img/carrot.jpg" alt="carrot" width="282" height="243"/>               
         </li>
        </ul>
    </div>
  </section>