<section class="yourorder-section">
  <section>
    <h2 class="yourorder-header">
      FRESH <span class="span-harvest">HARVEST</span> BOX HAS GOT YOU COVERED
    </h2>
    <p class="yourorder-paragraph">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
  </section>
  <section class="cards-container">
    <section class="form-container">
      <form action="">
        <section class="form-item-container">
          <p class="form-paragraph">
            ORDERING <span class="span-from-us">FROM US</span> IS QUICK AND
            EASY! FILL OUT <span class="span-the-form">THE FORM</span> BELLOW
            AND WE WILL CONTACT YOU!
          </p>
          <input class="form-item" type="text" placeholder="Full Name" />
          <input class="form-item" type="text" placeholder="Email" />
          <textarea
            class="form-item"
            name=""
            id=""
            placeholder="Comment"
          ></textarea>
          <button class="form-button">SEND</button>
        </section>
      </form>
    </section>
    <section class="social-media-container">
      <img class="social-img" src="../img/yourorder.png" alt="yourorder" />
      <section class="social-section">
        <p class="social-paragraph">Follow us on social networks</p>
        <div class="social-link-container">
          <p>
            <a href="">instagram</a>
            /
            <a href="">facebook</a>
            /
            <a href="">youtube</a>
          </p>
        </div>
      </section>
    </section>
  </section>
</section>
