.advertisement-section {
    width: 1280px;
    height: 440px;
    gap: 10px;
  }
.advertisement-div {
    width: 1054px;
    height: 240px;
    left: 13px;
    gap: 0px;
    opacity: 0px;
    background-color: #FBFBFB;
    flex-wrap: wrap;
  }
.advertisement-span {
    font-family: Inter Tight;
  font-size: 76px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.015em;
  text-align: left;
  background-color: #FBFBFB;
    border-radius: 12px 0px 0px 0px;
    width: 808px;
  height: 86px;
  }
.advertisement-text {
    font-family: "Inter Tight";
  font-size: 76px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.015em;
  text-align: left;
  background: #FBFBFB;
  display: flex;
}
  