.howitworks-section {
    width: 1280px;
    height: 759px;
  }
  .howitworks-img {
  width: Hug (630px)px;
  height: Hug (759px)px;
  padding: 100px 0px 0px 0px;
  gap: 10px;
  opacity: 0px;
  background: #7A3145;
  }
  .howitworks-blocks {
  width: 650px;
  height: 759px;
  padding: 100px 100px 160px 100px;
  gap: 10px;
  opacity: 0px;
  background-color: #576F35;
  }