.howitworks-section {
    width: 1280px;
    height: 759px;
   
  }
  .howitworks-left-blocks {
  width: 630px;
  height: 759px;
  padding: 100px 100px 100px 100px;
  gap: 10px;
  opacity: 0px;
  background: #7A3145;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  }
.howitworks-img {
    width: 430px;
height: 559px;
gap: 0px;
border-radius: 30px 0px 0px 0px;
opacity: 0px;
background: #1414144D;
  }
.howitworks-right-blocks {
  width: 450px;
  height: 499px;
  padding: 100px 100px 160px 100px;
  gap: 50px;
  opacity: 0px;
  background-color: #576F35;
  }
.howitworks-up-text {
width: 450px;
height: 96px;
font-family: "Inter Tight";
font-size: 32px;
font-weight: 600;
line-height: 32px;
letter-spacing: -0.015em;
text-align: left;
  }
.howitworks-down-text {
  width: 450px;
  height: 60px;
  font-family: "Inter Tight";
 font-size: 16px;
 font-weight: 500;
 line-height: 20px;
 text-align: left;
}
.textarea-span {
  color: #1414144D 0,6;
}
.howitworks-text-span {
  background-color: #FBFBFB4D 0,3;
}
.label {
  width: 450px;
  height: 76px;
  border-radius: 15px;
  padding: 12px, 25px, 12px, 24px;
  gap: 10px;
  background: #FBFBFB;
  display: flex;
}